<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
<style type="text/css">
.layui-form{
	margin-right: 100px;
}
</style>
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/review/reviewType/add}">
        <input type="hidden" name="id" th:if="${reviewType}" th:value="${reviewType.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">级别</label>
            <div class="layui-input-inline">
	             <div class="layui-input-inline">
	                <select name="level" mo:dict="REVIEW_TYPES" mo-selected="${reviewType?.level}" mo-empty="" lay-verify="type"></select>
	            </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="hidden" id="parentName" name="parentName" th:value="${reviewType?.parentName}">
            	<select class="timo-search-select"  lay-filter="parentId" id="parentId" name="parentId"  mo:list="${types}" mo-empty="" mo-selected="${reviewType?.parentId}"></select>
            </div>
            <div class="layui-input-info">（一级类型时不选）</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">审核项名称</label>
            <div class="layui-input-block">
                <input class="layui-input"  type="text" name="name" placeholder="请输入审核项名称" th:value="${reviewType?.name}">
            </div>
        </div>
       
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${reviewType?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script th:src="@{/js/review/reviewType/add.js}" charset="utf-8"></script>
</body>
</html>