<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<style>
	.wuxiao_img{
		width:100%;
		height:100%;
		overflow: auto;
	 }
	 
	 .wuxiao_img a{
			margin: 5px;
			width: 110px;
			height: 80px;
			display: block;
			float: left;
			border: 3px solid #ddd;	
	 }
	 
	 .wuxiao_img a img{
	 		width:100%;
	 		max-width:110px;
	 		height:100%;
	 }
	 
	.wuxiao_file{
		width:100%;
		height:60px;
		overflow: auto;
	 }
	.wuxiao_file a{
		width:60px;
		height:80px;
		border:4px solid #ddd;
		padding:2px 5px;
		margin:0 3px;
		line-height: 60px;
	}
	.page-info{
		margin-left: 11px;
	}
	.page-number{
		border: 1px solid #e2e2e2;
    	height: 24px;
    	margin-left: 6px;
	}
</style>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        
        <form class="layui-form" th:action="@{/resultManager/result/second/audit}">
        	<input type="hidden" name="id" th:if="${result}" th:value="${result?.id}">
	        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>申报日期</th>
                    <td th:text="${#dates.format(result?.declareDate, 'yyyy-MM-dd')}" colspan="3"></td>
                </tr>
                <tr>
                   <th>所属行业</th>
                    <td th:text="${#dicts.keyValue('INDUSTRY_TYPE', result?.Industry)}" colspan="3"></td>
                </tr>
                <tr>
<!--                     <th>五小类型</th> -->
<!--                     <td th:text="${#dicts.keyValue('WX_TYPE', result?.wxType)}"></td> -->
                    <th>成果名称</th>
                    <td th:text="${result?.resultName}"></td>
                    <th>成果类型</th>
                    <td th:text="${#dicts.keyValue('RESULT_TYPE', result?.resultType)}"></td>
                </tr>
                </tr>
                <tr>
                    <th>完成单位</th>
                    <td th:text="${result?.unit}"></td>
                   <th>带头人</th>
                    <td th:text="${result?.foregoer?.name}"></td> 
                </tr>
                <tr>
                    <th>实施时间</th>
                    <td th:text="${#dates.format(result?.implementDate, 'yyyy-MM-dd')}"></td>
                    <th>是否获得专利</th>
                    <td th:text="${result?.isPatent}"></td>
                </tr>
                <tr>
                    <th>专利号</th>
                    <td th:text="${result?.patentNum}"></td>
                    <th>专利授权公告日</th>
                    <td th:text="${#dates.format(result?.patentAccreditDate, 'yyyy-MM-dd')}"></td>
                </tr>
                <tr>
                    <th>成果简介</th>
                    <td th:text="${result?.resultIntro}"></td>
                    <th>应用前景</th>
                    <td th:text="${result?.prospects}"></td>
                </tr>
                <tr>
                    <th>效益计算</th>
                    <td th:text="${result.benefitClac}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创造价值</th>
                    <td th:text="${result?.createPrice}" colspan="3"></td>
                </tr>
                <tr style="height: 100px;">
                    <th>成果展示图片</th>
                    <th colspan="3">
                    	<div class="wuxiao_img">
                           	<a th:each="item:${resultImg}" th:href="${item.path}" target='_blank'>
                           		<img th:src="${item.path}" />
                           	</a>
                         </div>
                    </th>
                </tr>
                <tr style="height: 100px;">
                    <th>专利相关图片</th>
                    <th colspan="3">
                    	<div class="wuxiao_img">
                           	<a th:each="item:${patentImg}" th:href="${item.path}" target='_blank'>
                           		<img th:src="${item.path}" />
                           	</a>
                         </div>
                    </th>
                </tr>
                <tr style="height: 100px;">
                    <th>带头人最高荣誉图片</th>
                    <th colspan="3">
                    	<div class="wuxiao_img">
                           	<a th:each="item:${honorImg}" th:href="${item.path}" target='_blank'>
                           		<img th:src="${item.path}" />
                           	</a>
                         </div>
                    </th>
                </tr>
                <tr style="height: 40px;">
                    <th>上传视频</th>
                    <th colspan="3">
                    	<div class="wuxiao_file">
                        	<a th:each="item:${resultVideo}" th:href="${item.path}" target="_blank">
                        		[[${item.name}]]
                        	 </a>
                         </div>		
                    </th>
                </tr>
                <tr style="height: 40px;">
                    <th>上传附件</th>
                    <th colspan="3">
                    	<div class="wuxiao_file">
                    		<a th:each="item:${resultFile}" th:href="${item.path}" target="_blank">
                        		[[${item.name}]]
                            </a>
                    	</div>
                    </th>
                </tr>
                <tr class="reason-div" style="display: none;">
		            <th>拒绝原因</th>
                    <td class="reason" th:text="${result?.reason}" colspan="6"></td>
                    <input type="hidden" id="auditStatus" th:value="${result?.auditStatus}"></input>
		        </tr>
            </tbody>
        </table>
	        <div class="layui-form-item">
				<label class="layui-form-label">是否通过审核</label>
				<div class="layui-input-block" id="IsAuditStatus">
			      <input type="radio" class="bbb" name="auditStatus" th:attr="data-cvalue=${result?.auditStatus}" value="2"  lay-filter="aaa" title="是"></input>
			      <input type="radio"  class="bbb" name="auditStatus" th:attr="data-cvalue=${result?.auditStatus}" value="3" lay-filter="aaa" title="否"></input>
			      <input type="radio"  class="bbb" name="auditStatus" th:attr="data-cvalue=${result?.auditStatus}" value="10" lay-filter="aaa" title="直接拒绝"></input>
			    </div>
			</div>
	        <div class="layui-form-item layui-form-text reason-div" style="display: none;">
				<label class="layui-form-label">说明原因</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入说明原因" class="layui-textarea" name="reason" th:text="${result?.reason}"></textarea>
				</div>
			</div>
	        <div class="layui-form-item timo-finally">
	            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 确定</button>
	            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
	        </div>
	    </form>
    </div>
    
<script th:src="@{/js/plugins/jquery-3.3.1.min.js}"></script>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript">
	layui.use('form', function () {
        var form = layui.form;
        form.on('radio(aaa)', function (data) {
            if ($('#IsAuditStatus input[name="auditStatus"]:checked ').val() == "2") {
                $(".reason-div").hide();
            }
            else {
                $(".reason-div").show();
            }
            form.render();
        });
     	$(".bbb").each(function(){
     		if($(this).val()==$(this).data("cvalue")){
     			if($(this).val()=="3"){
     				$(".reason-div").show();
     			}
     			$(this).attr("checked","true");
     			return;
     		}
     	})
    	form.render();
	})
</script>
</body>
</html>