<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">

    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span th:if="${index == 0}"><i class="fa fa-bars"></i> 劳模创新工作室管理</span>
            <span th:if="${index == 1}"><i class="fa fa-bars"></i> 职工创新工作室管理</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                    <!--<div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block timo-search-status">
                            <select class="timo-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>
                        </div>
                    </div>-->
                    <input type="hidden" name="flat_type" th:value="${type}" autocomplete="off" class="layui-input">
                    <div class="layui-inline">
                        <label class="layui-form-label">工作室名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="studioName" placeholder="请输入工作室名称" th:value="${param.studioName}" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-block timo-search-status" style="width: 150px">
                            <select class="timo-search-select" name="audit_status" mo:dict="MODEL_AUDIT_STATUS" mo-selected="${param.audit_status}" th:if="${level != 1}" style="width: 150px">
                            </select>
                            <select class="timo-search-select" name="audit_status" mo:dict="MODEL_EDIT_STATUS" mo-selected="${param.audit_status}" th:if="${level == 1}" style="width: 150px">
                            </select>
                        </div>
                    </div>
                    <!--<div class="layui-inline">
                        <label class="layui-form-label">数据状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" th:value="${param.status}" placeholder="请输入数据状态" autocomplete="off" class="layui-input">
                        </div>
                    </div>-->
                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right screen-btn-group" th:if="${level != 1}">
                    <button class="layui-btn open-popup" data-title="添加劳模创新工作室" th:attr="data-url=@{'/modelstudio/modelstudio/add/'+${index}}" data-size="max">
                        <i class="fa fa-plus"></i>添加工作室</button>
                    <button class="layui-btn open-popup" data-title="添加带头人" th:attr="data-url=@{/modelstudio/leaderinformation/add}" data-size="max">
                        <i class="fa fa-plus"></i>添加带头人</button>
                    <!--<button class="layui-btn open-popup" data-title="添加工作室简介" th:attr="data-url=@{/modelstudio/studioProfile/add}" data-size="auto">
                        <i class="fa fa-plus"></i>添加工作室简介</button>
                    <button class="layui-btn open-popup" data-title="添加创新计划" th:attr="data-url=@{/modelstudio/creativePlan/add}" data-size="auto">
                        <i class="fa fa-plus"></i>添加创新计划</button>-->
                    <div class="btn-group">
                        <!--<button class="layui-btn">操作<span class="caret"></span></button>-->
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a class="ajax-status" th:href="@{/modelstudio/modelstudio/status/ok}">启用</a></dd>
                            <dd><a class="ajax-status" th:href="@{/modelstudio/modelstudio/status/freezed}">冻结</a></dd>
                            <dd><a class="ajax-status" th:href="@{/modelstudio/modelstudio/status/delete}">删除</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="timo-table-wrap">
                <table class="layui-table timo-table">
                    <thead>
                    <tr>
                        <!--<th class="timo-table-checkbox">
                            <label class="timo-checkbox"><input type="checkbox">
                                <i class="layui-icon layui-icon-ok"></i></label>
                        </th>-->
                        <th>序号</th>
                        <th>所属工会</th>
                        <th>所属行业</th>
                        <th>工作室名称</th>
                        <th>所在单位</th>
                        <!--<th>推荐单位</th>-->
                        <th>审核状态</th>
                        <!--<th>数据状态</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${list}">
                        <!--<td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                            <i class="layui-icon layui-icon-ok"></i></label></td>-->
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.flat_name}"></td>
                        <td th:text="${#dicts.keyValue('INDUSTRY_TYPE', item.industry_involved)}"></td>
                        <td th:text="${item.studioName}"></td>
                        <td th:text="${item.place_the_unit}"></td>
                        <!--<td th:text="${#dicts.keyValue('TRADE_UNIONS', item.unit)}"></td>-->
                        <td th:text="${#dicts.keyValue('MODEL_AUDIT_STATUS', item.audit_status)}"></td>
                        <!--<td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>-->
                        <td>
                            <a class="ajax-get" data-msg="您是否确认上报" th:href="@{/modelstudio/modelstudio/update(ids=${item.id})}" th:if="${item.audit_status == 0 || item.audit_status == 4 && level != 1}">上报</a>
                            <a class="open-popup" data-title="审核创新工作室" th:attr="data-url=@{'/modelstudio/modelstudio/editTab/'+${item.id} + '/' + ${index}}" th:if="${item.audit_status == 1 && level == 1}" data-size="max" href="#">审核</a>
                            <a class="open-popup" data-title="编辑创新工作室" th:attr="data-url=@{'/modelstudio/modelstudio/editTab/'+${item.id} + '/' + ${index}}" th:if="${item.audit_status == 0 || item.audit_status == 4 && level != 1}" data-size="max" href="#">编辑</a>
                            <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/modelstudio/modelstudio/detail/'+${item.id} + '/' + ${index}}" data-size="max" href="#">详细</a>
                            <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/modelstudio/modelstudio/status/delete(ids=${item.id})}" th:if="${item.audit_status == 0 || level == 1}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="/common/fragment :: page"></div>
        </div>

    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>